task-manager-be/node_modules
task-manager-be/package_lock.json
task-manager-be/.env



task-manager/node_modules
task-manager/.env
task-manager/yarn.lock
task-manager/package-lock.json
task-manager/.pnp
task-manager/.pnp.js
task-manager/coverage
task-manager/build
task-manager/.DS_Store
task-manager/.env.local
task-manager/.env.development.local
task-manager/.env.test.local
task-manager/.env.production.local
task-manager/npm-debug.log*
task-manager/yarn-debug.log*
task-manager/yarn-error.log*
